/*-------------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------------*/
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
html{
  background-color:#fff;
  color:#555;
  font-family:'Montserrat', sans-serif;
  font-size:20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
.row{
  max-width:1140px;
  margin:0 auto;
}
.clearfix{
  zoom: 1;
}
.clearfix:after{
  content:".";
  clear: both;
  display:block;
  visibility: hidden;
  height: 0;
}
/*-------------------------------------------------*/
/*REUSEABLE COMPNONTS*/
/*-------------------------------------------------*/
/*TITLE*/
h1,h2, h3, h4, h5, h6{
  margin:0;
  text-transform: uppercase;
  
}
h1{
  font-size:220%;
  font-weight:400;
  margin-bottom: 30px;
  color:#fff;
}
h2, h3, h4,h6{
  color:rgb(102, 100, 100);
  font-weight:400;
  letter-spacing: 1px;
}
h2{
  text-align: center;
  font-size: 140%;
}
h2:after,h4:after{
  content:"";
  height: 2px;
  width:10%;
  background-color: #d8890b;
  display:block;
  margin:0 auto;
  margin-top:10px;
}
h3{
  font-size:120%;
  margin-bottom: 30px;
}
h5{
  color:#fff;
}
.box{
  padding:1%;
}
/*BUTTON*/
.btn:link,.btn:visited{
  text-decoration: none;
  font-size:120%;
  font-weight: 300;
  border-radius:100px;
  color:#fff;
  background-color: #d8890b;
  padding:10px 30px;
  transition:background-color 0.2s, border 0.2s, color 0.2s;
}
.btn:hover,.btn:active{
  background-color: #a86a08;
}
.donate-btn:hover, .donate-btn:active{
 border: 1px solid #d8890b
}
a:link, a:visited{
  text-decoration: none;
  text-transform: uppercase;
}
/*-------------------------------------------------*/
/*HEADING*/
/*-------------------------------------------------*/
header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.362), rgba(0, 0, 0, 0.362)), url(img/littleboy.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:100vh;
}
.hero-text{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
/*-------------------------------------------------*/
/*NAV*/
/*-------------------------------------------------*/
.logo{
  float:left;
  margin-top:50px;
  word-spacing: 5px;
}
.logo span{
  margin-left:30px;
}
.main-nav{
  float:right;
  list-style:none;
  margin-top:50px;
}
.main-nav li{
  display:inline-block;
  padding-left:10px;
}
.main-nav li a:link, .main-nav li a:visited{
  text-decoration: none;
  text-transform: uppercase;
  font-weight:300;
  color:#fff;
  border-bottom: transparent;
  transition: border 0.2s, color 0.2s;
}
.main-nav li a:hover, .main-nav li a:active{
  border-bottom: 2px solid #d8890b;
  padding-bottom:10px;
}
/*-------------------------------------------------*/
/*FONT ICON*/
/*-------------------------------------------------*/
.font-icon{
 font-size:200%;
 color: #d8890b;
 margin-bottom:20px;
 margin-top:30px;
}
.small-icon{
  font-size:100%;
  color: #d8890b;
  display:inline-block;
  text-align: center;
  margin-right:15px;
  margin-bottom:15px;
  vertical-align: middle;
  line-height: 100%;
  margin-top:5px;
}
/*-------------------------------------------------*/
/*MISSION STATEMENT*/
/*-------------------------------------------------*/
.mission-statement{
  margin-top:50px;
}
.missing-box{
 margin-top:50px;
 line-height: 145%;
 font-weight: 300;
 font-size: 90%;
}
.missing-box p{
  padding-right:5%;
}
/*-------------------------------------------------*/
/*PHOTO GALLERY*/
/*-------------------------------------------------*/
.photo-showecase{
  padding:0;
}
.section-photo{
  margin-top:50px;
}
.photo-showecase{
  list-style:none;
  width:100%;
}
.photo-showecase li{
 display:block;
 float: left;
 width:25%
}
.photo-gallery{
  width:100%;
  overflow: hidden;
  background-color:#000;
  margin:0;
}
.photo-gallery img{
  width:100%;
  height:auto;
  transform:scale(1.14);
  transition:transform 0.5s,opacity 0.5s ;
}
.photo-gallery img:hover{
 opacity:1;
 transform:scale(1.02);
}
/*-------------------------------------------------*/
/*WHO WE ARE*/
/*-------------------------------------------------*/
.section-who-we-are{
  margin-top: 50px;
}
.who-we-are-box{
  margin-top: 50px;
}
.who-we-are-box img{
border: 1px solid rgb(160, 160, 160);
border-radius: 10px;
width:70%;
height:auto;
margin-left:15%;
}
.who-we-are-box p{
font-weight: 300;
font-size: 100%;
line-height: 145%;
word-spacing:1px;
margin-right:15%;
width:75%;
}
/*-------------------------------------------------*/
/*WHAT WE DOING*/
/*-------------------------------------------------*/
.section-what-we-doing{
  margin-top: 50px;
  padding-bottom:20px;
  color:#fefcf5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.669),rgba(0, 0, 0, 0.669)), url(img/school-classroom.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.h4-title-box{
text-align: center;
line-height: 150%;
margin-bottom: 50px;
}
.education{
  color:#fff;
}
.what-we-doing-content{
 font-size: 90%;
 font-weight: 300;
 line-height: 145%;
 border-left:1px solid #d8890b;
 height: 50vh;
}
.col:first-child {
  border-left: none;
}
/*-------------------------------------------------*/
/*CONTACT-FOOTER*/
/*-------------------------------------------------*/
/*CONTACT*/
.contact-footer{
  margin-top:50px;
  color:rgb(102, 100, 100);
}
.contact{
  margin-bottom:10px;
  line-height: 145%;
  text-transform: uppercase;
}
.contact-info{
font-weight: 300;
font-size:80%;
line-height: 150%;
text-transform: capitalize;
}
.LIB-address{
  margin-top:5px;
  font-size:80%;
  display:block;
  text-align: center;
}
form{
  margin-top:50px;
  margin-left: 5%;
}
input{
  font-size:90%;
}
.send{
  padding:2px 40px;
  text-transform:uppercase;
}
/*FOOTER*/
.footer{
margin-top:50px;
padding:40px 0;
color:#aaa6a6;
background-color:#1b1a1a;
}
.cta-donate{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.cta-donate::before{
  content:"";
  display:clear;
  padding-bottom:50px;
}
.footer-link{
  margin-top:50px;
}
.footer-nav{
  list-style:none;
}
.footer-nav li{
 float:left;
 padding:5px 10px;
}
.footer-nav li a:link,.footer-nav li a:visited{
  font-size:70%;
  font-weight: 300;
  color:#aaa6a6;
  transition:color 0.2s;
}
.footer-nav li a:hover,.footer-nav li a:active{
  color:#fff;
}
.social-media{
  float:right;
  padding-left:20px;
}
.social-media li{
  list-style: none;
  display: inline-block;
}
.social-media li a{
  color:#aaa6a6;
  font-size:100%;
  transition:color 0.2s;
}
.social-media li a:hover{
color:#fff;
}
.copy-right{
  padding-bottom:20px;
  color:#aaa6a6;
  font-size:65%;
  text-align: center;
}
